body {
  font-family: Arial, sans-serif;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

.login {
  width: 300px;
  margin: 0 auto;
}

.login input {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 8px;
}

.login button {
  width: 100%;
  padding: 8px;
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

/* CSS cho Header */
header {
  background-color: #343a40;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

/* CSS cho Navbar */
nav {
  background-color: #343a40;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li button {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

nav ul li button:hover {
  text-decoration: underline;
}